# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# macOS temp files
.DS_Store
.AppleDouble
.LSOverride

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py